.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.MainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  
}

.footer{
  width: 100%;
  height: 200px;
  background-color: #eeee;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  bottom: 0;
  left: 0;
 
  position: fixed;
  

}

.mainFooter{
  display: flex;
  margin: 20px 20px;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: flex-start;
}


.contact{
  color: #2e7d32;
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 100px;
  
}



.contact a{
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2e7d32;
  margin-left: 80px;
  
}

.contact a:hover{
  color: #515151;
}



.successPage{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
  
}

.successPage img{
  width: 400px;
  height: 400px;
}

.aboutPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.herbalifePage{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.herbalifePageInfo {
  color: #515151;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: 4px solid #515151;
  border-radius: 20px;
  margin: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

img {
  width: 400px;
  display: flex;
  float: left;

}

p {
  float: right;
  margin: 30px;
  line-height:2;
}

.aboutNav button{
  margin: 10px;

  
}

.prevNextBtn{
  border: none;
  background-color: white;
  font-size: 30px;
  color: #2e7d32;
  cursor: pointer;
}

.membersCard{
  display: flex;
  justify-content: center;
  width: 500px;
  flex-wrap: wrap;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.membersCard h1{
  color: red;
}

.mainNav {
  background-color:#2e7d32;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
  position: sticky;
  

  
}

.mainNav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  position: sticky;
  
}

.mainNav a.active {
  
  font-weight: bold;
  font-size: 20px;
}

