.App{
  display: flex;
  align-items: center;
  justify-content: center;
  


}

.MainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  
}

.aboutPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.herbalifePage{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.herbalifePageInfo {
  color: #515151;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: 4px solid #515151;
  border-radius: 20px;
  margin: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

img {
  width: 400px;
  display: flex;
  float: left;

}

p {
  float: right;
  margin: 30px;
  line-height:2;
}

h{
  
}



.mainNav {
  background-color:#2e7d32;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
  

  
}

.mainNav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  
  
}

.mainNav a.active {
  
  font-weight: bold;
  font-size: 20px;
}

